    @font-face {
        font-family: "Muller";
        src: local("Muller") url(../fonts/Muller-Trial-Bold.woff2)(woff2),
            url(../fonts/Muller-Trial-Bold.woff) format(woff);
        font-weight: 700;
    }

    @font-face {
        font-family: "Muller";
        src: local("Muller") url(../fonts/Muller-Trial-Medium.woff2)(woff2),
            url(../fonts/Muller-Trial-Medium.woff) format(woff);
        font-weight: 500;
    }

    @font-face {
        font-family: "Muller";
        src: local("Muller") url(../fonts/Muller-Trial-Regular.woff2)(woff2),
            url(../fonts/Muller-Trial-Regular.woff) format(woff);
        font-weight: 400;
    }

    @font-face {
        font-family: "Muller";
        src: local("Muller") url(../fonts/Muller-Trial-Light.woff2)(woff2),
            url(../fonts/Muller-Trial-Light.woff) format(woff);
        font-weight: 300;
    }

    :root {
        -webkit-text-stroke-color: #121723;
        --primary: #6D31EE;
        --himnakan-sev-color: #121723;
        --sevic-bac-color: #292E39;
        --white: white;
        --text_gray: #A1A6B4;
        --light_color: #E6E8EC;
        --primary_shade: #4F28A5;
        --primary_light: #AA9DFA;
        --promo_color_shade: #BB973E;
        --promo_color: #F0D288;

    }

    #header,
    #home,
    #podcasts,
    #transmissions,
    #guest,
    #playlists,
    #reklam,
    #about-us,
    #footer-2 {
        max-width: 1110px;
        margin: 0 auto;
        font-family: "Muller";
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    a {
        color: inherit;
        text-decoration: none;
    }


    .nav-list {
        display: flex;
        justify-content: space-between;
        margin: 34px 0;
        gap: 58.75px;
        padding-right: 208px;
    }

    .nav-list-div {
        border: 1px solid #E6E8EC;
        padding: 22px 0;
        width: 100%;
    }

    .home-button {
        padding: 25px 54px;
        background-color: var(--primary);
        border: 1px solid var(--primary);
        border-radius: 40px;
        color: white;
        font-weight: 500;
        line-height: 100%;
        font-size: 20px;
        margin: 0;
        transition: 0.2s ease;

    }

    .home-button:hover {
        background-color: var(--primary_light);
        border: 1px solid;
    }

    .home-button:focus-visible {
        background-color: var(--primary_light);
        border: 2px solid var(--primary_shade);

    }

    .home-button:active {
        background-color: var(--primary_shade);
        border: 1px solid;
    }

    .divider {
        height: 1px;
    }


    #home {
        background-image: url(../imges/microphone.svg);
        background-repeat: no-repeat;
        height: 450px;
        background-position: right;
    }


    .header-a {
        font-size: 20px;
        font-weight: 400;
        color: var(--himnakan-sev-color);
        transition: 0.4s ease;
    }

    .header-logo {
        padding-right: 80px;
    }

    .nav1 {
        display: flex;
        align-items: center;
        justify-content: space-between
    }



    .footer-a:hover,
    .header-a:hover {
        color: #6D31EE;
    }

    .footer-a:focus-visible,
    .header-a:focus-visible {
        outline: 0;
        background-color: #AA9DFA;
        color: #fff;
    }

    .footer-a:active,
    .header-a:active {
        color: #4F28A5;
    }

    .home-caption {
        display: flex;
        align-items: center;
        gap: 15px;
        margin: 0;
    }

    .search-button {
        transition: 0.4s ease;
    }

    .search-button:hover {
        path {
            stroke: #AA9DFA;
        }
    }

    .search-button:focus-visible {
        outline: 0;

        path {
            stroke: #AA9DFA;
        }
    }

    .search-button:active {
        outline: 0;

        path {
            stroke: #4F28A5;
        }
    }

    .home-caption p,
    h2 {
        margin-bottom: 0;
        margin: 0;

    }

    .home-text {
        padding: 94px 0 119px 0;
    }

    .home-p {
        font-size: 16px;
        line-height: 150%;
        font-weight: 400;
        width: 635px;
        padding-bottom: 70px;
        color: var(--himnakan-sev-color);
        margin: 14px 0 0 0;
    }

    .home-caption h2 {
        font-weight: 700;
        font-size: 60px;
    }

    .home-caption p {
        font-size: 60px;
        font-weight: 400;
    }

    .guest-section {
        background-color: var(--himnakan-sev-color);
    }

    .reklam-section {
        background-color: #292E39;
    }

    .about-us-section {
        background-color: var(--himnakan-sev-color);
    }

    .footer {
        background-color: #292E39;
    }

    .podcasts-section {
        background-color: #E6E8EC;
    }

    .podcasts-inner-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .playlist-card-list {
        gap: 30px;
        display: flex;
        flex-wrap: wrap;
        width: 742px;
        margin: 0;
        margin-bottom: 94px;
    }

    .playlist-end-foto {
        height: 160px;
    }

    .playlist-card-caption {
        margin-top: 16px;
        margin-bottom: 4px;
        font-size: 16px;
        font-weight: 500;
        margin-left: 16px;
    }

    .playlist-card-p {
        margin: 0 0 16px 0;
        font-size: 12px;
        font-weight: 400;
        color: var(--text_gray);
        margin-left: 16px;
    }

    .playlists-card {
        display: flex;
        flex-direction: column;
    }

    .playlist-card-list-div {
        display: flex;
        justify-content: flex-end;
        padding-top: 94px;
    }

    .playlist-card-info {
        border: 1px solid var(--light_color);


    }

    .playlists-card img {
        width: 160px;
        height: 160px;
    }

    .podcasts-card-text-list {}

    .podcasts-inner-list {
        margin: 0;
        padding-bottom: 94px;

    }

    .podcasts-card-text {
        margin-left: 112px;
        background: #fff;
        display: flex;
        flex-direction: column;
        padding: 0 0 0 30px;
        height: 140px;
        justify-content: center;
    }

    .podcasts-caption {
        padding-top: 94px;
        padding-bottom: 30px;
        font-size: 48px;
        font-weight: 400;
        margin: bottom 30px;
    }

    .podcasts-card-text-p {
        background: #fff;
        margin: 0;
        font-size: 12px;
        font-weight: 400;
        color: var(--himnakan-sev-color);
    }

    .podcasts-card-text-p-p {
        font-size: 16px;
        font-weight: 400;
        color: #A1A6B4;
        margin-left: 0;
        margin: 0;
    }

    .podcasts-card-text-h2 {
        margin: 8px 0 4px 0;
        font-size: 20px;
        font-weight: 400;
    }

    .more-a {
        align-items: center;
        display: flex;
        margin-bottom: 20px;

    }

    .transmissions-caption {
        color: var(--himnakan-sev-color);
        font-size: 48px;
        font-weight: 400;
        margin: 0;
    }

    .podcasts-span {
        background-color: #E6E8EC;
        font-size: 10px;
        font-weight: 400;
        width: 51px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0px;
        top: 125px;

    }

    .more-a:active {
        color: var(--primary_shade);

        svg {
            path {
                fill: #4F28A5;
            }
        }

    }


    .inner {
        width: 540px;
        position: relative;
    }

    .inner:nth-child(1) {
        background-image: url(../imges/Rectangle\ 1.svg);
        background-repeat: no-repeat;

    }

    .inner:nth-child(2) {
        background-image: url(../imges/Rectangle\ 2.svg);
        background-repeat: no-repeat;

    }

    .inner:nth-child(3) {
        background-image: url(../imges/Rectangle\ 3.svg);
        background-repeat: no-repeat;

    }

    .inner:nth-child(4) {
        background-image: url(../imges/rectagle\ 4.svg);
        background-repeat: no-repeat;

    }

    .inner:nth-child(5) {
        background-image: url(../imges/Rectangle\ 5.svg);
        background-repeat: no-repeat;
    }

    .inner:nth-child(6) {
        background-image: url(../imges/Rectangle\ 6.svg);
        background-repeat: no-repeat;
    }

    .inner:nth-child(7) {
        background-image: url(../imges/Rectangle\ 7.svg);
        background-repeat: no-repeat;
    }

    .inner:nth-child(8) {
        background-image: url(../imges/Rectangle\ 8.svg);
        background-repeat: no-repeat;
    }

    /*.inner1 {
        background-image: url(../imges/Rectangle\ 1.svg);
        background-repeat: no-repeat;
        border: 1px solid #E4E4E4;
        border-radius: 5px;
        display: inline-block;
        width: 540px;
        height: 140px;

    }

    .inner2 {
        background-image: url(../imges/Rectangle\ 2.svg);
        background-repeat: no-repeat;
        border-radius: 5px;
        display: inline-block;
        width: 540px;
        height: 140px;
    }
    
    .inner3 {
        background-image: url(../imges/Rectangle\ 3.svg);
        background-repeat: no-repeat;
        border-radius: 5px;
        display: inline-block;
        width: 540px;
        height: 140px;
    }
    
    .inner4 {
        background-image: url(../imges/rectagle\ 4.svg);
        background-repeat: no-repeat;
        border-radius: 5px;
        display: inline-block;
        width: 540px;
        height: 140px;
    }

    .inner5 {
        background-image: url(../imges/Rectangle\ 5.svg);
        background-repeat: no-repeat;
        border-radius: 5px;
        display: inline-block;
        width: 540px;
        height: 140px;
    }

    .inner6 {
        background-image: url(../imges/Rectangle\ 6.svg);
        background-repeat: no-repeat;
        border-radius: 5px;
        display: inline-block;
        width: 540px;
        height: 140px;
    }

    .inner7 {
        
    background-image: url(../imges/Rectangle\ 7.svg);
        background-repeat: no-repeat;
        border-radius: 5px;
        display: inline-block;
        width: 540px;
        height: 140px;
    }

    .inner8 {
        background-image: url(../imges/Rectangle\ 8.svg);
        background-repeat: no-repeat;
        border-radius: 5px;
        display: inline-block;
        width: 540px;
        height: 140px;
    }
        */

    /* Передачи */
    /*
    .transmissions-card-list:{
        background-image: url(../imges/image\ 1.svg);
        background-repeat: no-repeat;
    }
    .transmissions-card-list :nth-child(2){
        background-image: url(../imges/image\ 2.svg);
        background-repeat: no-repeat;
        
    }
        */
    .transmissions-card:nth-child(1) {
        background-image: url(../imges/image\ 1.svg);
        background-repeat: no-repeat;
    }

    .transmissions-card:nth-child(2) {
        background-image: url(../imges/image\ 2.svg);
        background-repeat: no-repeat;
    }

    .transmissions-card:nth-child(3) {
        background-image: url(../imges/image\ 3.svg);
        background-repeat: no-repeat;
    }

    .transmissions-card:nth-child(4) {
        background-image: url(../imges/image\ 4.svg);
        background-repeat: no-repeat;
    }

    .transmissions-card:nth-child(5) {
        background-image: url(../imges/image\ 5.svg);
        background-repeat: no-repeat;
    }

    .transmissions-card:nth-child(6) {
        background-image: url(../imges/image\ 6.svg);
        background-repeat: no-repeat;
    }

    .transmissions-card-div {
        display: flex;
        justify-content: space-between;

    }

    .transmissions-card {
        width: 255px;

    }

    .transmissions-card-div {
        padding: 94px 0;
    }

    .transmissions-card-caption {
        margin-left: 16px;
        margin-top: 20px;
        margin-bottom: 4px;
        font-size: 20px;
        font-weight: 500;
        color: var(--himnakan-sev-color);
    }

    .transmissions-card-p {
        margin: 0 0 20px 16px;
        color: var(--text_gray);
        font-size: 12px;
        font-weight: 400;
    }

    .transmissions-card-a {
        margin-left: 16px;
        color: var(--himnakan-sev-color);
        transition: 0.2s ease;
        display: flex;
        align-items: center;
    }


    .transmissions-card-a {
        transition: 0.2s ease;
    }

    .transmissions-card-a:active {
        color: var(--primary_shade);

        svg {
            path {
                fill: #4F28A5;
            }
        }
    }

    .transmissions-card-a:focus-visible {
        background-color: #AA9DFA;
        color: #fff;

        outline: 0;

        svg {
            path {
                fill: #FFF;
            }
        }

    }

    .transmissions-card-a:hover {
        color: var(--primary);

        svg {
            path {
                fill: var(--primary);
            }
        }

    }



    /*.more-a-link:hover {
        path {
            fill: var(--primary);
        }
    }
        */
    /*
    .more-a-link:focus-visible {
        path {
            fill: #FFF;
        }
    }

    .more-a-link:active {
        path {
            fill: #4F28A5;
        }
    }
        */


    .transmissions-card-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        max-width: 825px;
    }

    .archive {
        padding: 12px 56px;
        border: 2px solid var(--himnakan-sev-color);
        border-radius: 77px;
        color: #121723;
        margin-top: 24px;
        margin-bottom: 12px;

    }

    .archive-div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

    }

    .archive-p {
        width: 255px;
        color: var(--text_gray);
    }

    .archive-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .transmissions-card-text {
        padding-top: 145px;
        border: 1px solid var(--light_color);


    }

    .guest-card {
        position: relative;
    }



    .guest-p {
        color: var(--text_gray);
        font-size: 16px;
        line-height: 180%;
        font-weight: 400;
        height: 116px;
    }

    .guest-caption-p {
        color: var(--text_gray);
        width: 825px;
        margin-top: 8px;
        margin-bottom: 50px
    }

    .guest-caption-p-p {
        margin-top: 12px;
        color: var(--text_gray);
    }

    .guest-caption {
        color: #FFF;
        padding-top: 94px;
    }

    .guest-card-caption {
        color: #fff;

    }

    .guest-card-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 428px;
        margin-left: 465px;
    }

    .guest-card:nth-child(1) {
        background-image: url(../imges/photo\ 1.svg);
        background-repeat: no-repeat;
    }

    .guest-card:nth-child(2) {
        background-image: url(../imges/photo\ 2.svg);
        background-repeat: no-repeat;
    }

    .guest-card:nth-child(3) {
        background-image: url(../imges/photo\ 3.svg);
        background-repeat: no-repeat;
        padding-bottom: 94px;
    }

    .guest-card {
        height: 272px;
        display: flex;
    }

    .guest-card-list {
        display: flex;
        flex-direction: column;
        gap: 50px
    }

    .live-with-guests {
        padding: 12px 19.5px;
        border: 2px solid #AA9DFA;
        border-radius: 77px;
        color: #AA9DFA;
        position: absolute;
        top: 225px;
        font-size: 16px;
        font-weight: 500;
        transition: 0.4s ease;
    }

    .archive:hover,
    .live-with-guests:hover {
        background-color: var(--primary_light);
        color: white;
        border: 2px solid #AA9DFA;
    }

    .archive:focus-visible,
    .live-with-guests:focus-visible {
        background-color: var(--primary);
        color: white;
        border: 2px solid var(--primary);
        outline: 0;

    }

    .archive:active,
    .live-with-guests:active {
        background-color: var(--primary_shade);
        color: white;
        border: 2px solid var(--primary_shade);
        outline: 0;

    }


    .playlist-caption-p {
        display: flex;
        flex-direction: column;
        max-width: 350px;

    }

    .playlist-p {
        color: var(--text_gray);
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        margin: 12px 0 0 0;
    }

    .playlist-span {
        color: var(--text_gray);
        font-size: 16px;
        line-height: 22px;
        font-weight: 300;
        margin-bottom: 6px;

    }

    .playlist-caption {
        font-size: 48px;
        font-weight: 400;
        line-height: 100%;
        color: var(--himnakan-sev-color);
        margin: 0;

    }

    .radio-img {
        position: relative;
        height: 577px;
    }

    .radio-new {
        position: absolute;
        left: 10px;
    }

    .yandex-go-a {
        display: flex;
        width: 300px;
        height: 70px;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        border: 2px solid var(--promo_color);
        gap: 8px;
        ;
        font-size: 20px;
        font-weight: 500;
        color: #F0D288;
        transition: 0.4s ease;

    }

    .fir .yandex-go-a:focus-visible {}

    .yandex-go-a:hover {
        background-color: #F0D288;
        color: #121723;

    }

    .yandex-go-a:focus-visible {
        background-color: #BB973E;
        border: 2px solid #F0D288;
        color: #121723;
        outline: 0;

    }


    .yandex-go-a:active {

        background-color: #BB973E;
        color: #121723;
        border: 2px solid;

    }

    .yandex-go-svg-g {
        .first:active {
            fill: #BB973E;
        }

        .first:hover {
            fill: #F0D288;
        }

        .back:focus-visible {
            fill: #F0D288;
        }

        .back:active {
            fill: #121723;
        }

        .back:hover {
            fill: #121723;
        }
    }









    .name-mail {

        padding: 0 0 0 32px;
        width: 413px;
        height: 70px;
        border-radius: 30px;
        border: 1px solid white;
        background-color: #121723;
        color: #A1A6B4;
        font-size: 20px;
        font-weight: 400;
    }

    #comment:hover {
        background-color: #292E39;

    }

    #comment:focus-visible {
        background-color: #292E39;
        border: 1px solid #AA9DFA;
        outline: 0;

    }

    #comment:not(:placeholder-shown),
    .input:not(:placeholder-shown) {
        border: 1px solid white;
    }

    #comment:invalid,
    .input:invalid {
        outline: 0;
        border: 1px solid #D52B1E;

    }

    .input:hover {
        background-color: #292E39;
    }

    .input:focus-visible {
        background-color: #292E39;
        border: 1px solid #AA9DFA;

    }


    .form-name-mail {
        display: flex;
        gap: 30px;
        border-radius: 30px;
    }

    .about-us-started-a {
        height: 70px;
        width: 212px;
        background: var(--primary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        color: white;
        margin-top: 30px;
        font-size: 20px;
        font-weight: 500;
    }

    .about-us-card-list {
        display: flex;
        gap: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
        flex-wrap: wrap;
    }

    .about-us-card-p {
        color: var(--text_gray);
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin: 0;
    }

    .about-us-card-caption {
        color: white;
        font-size: 20px;
        font-weight: 500;
    }

    .about-us-card {
        width: 255px;
        margin-bottom: 30px;
    }

    .about-us-caption-text {
        display: flex;

    }

    .about-us-p {
        width: 634px;
        color: var(--text_gray);
        font-size: 20px;
        font-weight: 400;
        line-height: 160%;
    }

    .about-us-background-images {
        display: flex;
        gap: 30px;
        margin-left: 31px;
    }

    .about-us-text-p {
        font-weight: 700;
        font-size: 20px;
        color: var(--text_gray);
        line-height: 150%;
    }

    .about-us-caption {
        color: var(--white);
        font-size: 48px;
        font-weight: 400;
        line-height: 100%;
        padding-top: 94px;
        margin: 0;
    }

    .about-us-checkbox {
        display: flex;
        gap: 8px;
        align-items: center;
        margin: 30px 0 0 0;
        height: 15px;
        padding-bottom: 93px;

    }

    .about-us-checkbox-p {
        color: white;
    }

    .reklam-section-div {
        display: flex;
        align-items: center;
        gap: 30px;
        padding-top: 94px;
        padding-bottom: 133px;
    }

    .reklam-radio-img {
        position: relative;
    }

    .reklam-text-p {
        color: white;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        line-height: 180%;
    }

    .reklam-text-caption {
        font-size: 48px;
        color: #F0D288;
        font-weight: 400;
        width: 441px;
        margin: 0 0 19px 0;
    }

    .reklam-text-svg {
        margin: 0 0 19px 0;
    }

    .reklam-tex-div {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .radio-price {
        font-size: 30px;
        font-weight: 500;
        line-height: 100%;
        color: white;
        margin: 30px 0;
    }

    .data-list {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    #comment {
        font-size: 20px;
        width: 888px;
        padding-left: 32px;
        padding: 30px 0 100px 32px;
        border-radius: 30px;
        border: 1px solid white;
        background-color: #121723;
        font-weight: 400;
        color: #A1A6B4;
    }

    .footer-logo-a {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    #footer-2 {
        display: flex;
        justify-content: space-between;
        /* height: 323px; */
        padding-top: 94px;
        padding-bottom: 94px
    }

    .footer-a-list-ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 88px;
        margin: 0;

    }

    .footer-a {
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        color: white;
    }

    .footer-a-list {
        display: flex;
        gap: 109px;
        justify-content: flex-end;
    }

    .footer-link-list {
        display: flex;
        gap: 21px;
        align-items: center;
    }

    .footer-end-p {
        font-size: 16px;
        font-weight: 400;
        line-height: 103%;
        color: #A1A6B4;
        text-align: center;
        font-family: "Muller";
        padding: 10px 0;
        margin: 0;
    }

    .footer-divider {
        width: 100%;
    }

    .footer-svg {
        transition: 0.4s ease;
    }

    .footer-svg:hover {
        path {
            fill: var(--primary);
        }
    }

    .footer-svg-a:focus-visible {
        outline: 0;

        path {
            fill: var(--primary_light);
        }

    }

    .footer-svg:active {
        outline: 0;

        path {
            fill: #4F28A5;
        }
    }

    @media(max-width:1024px) {

        #home,
        #podcasts,
        #transmissions,
        #guest,
        #playlists,
        #reklam,
        #about-us,
        #footer-2 {
            max-width: 824px;
            margin: 0 auto;
            font-family: "Muller";


        }


        .nav-list {
            display: none;
        }

        .nav1 {
            display: none;
        }

        .nav-list2 {
            display: flex;
            justify-content: space-between;
            max-width: 824px;
            margin: 0 auto;
            font-family: "Muller";
        }

        .nav-logo-search {
            display: flex;
            justify-content: space-between;
            max-width: 824px;
            margin: 0 auto;
            font-family: "Muller";
            padding: 33px 0;

        }

        .spiral {
            display: none;
        }

        .down {
            width: 255px;
            height: 255px;
        }

        .radio-img {
            height: 349px;
        }

        .radio-new {
            width: 100px;
            height: 100px;
        }

        .guest-p {
            height: 174px;
            width: 359px;
            margin: 0;
            margin-top: 8px;
        }
        .guest-card-caption{
            margin: 0;
        }

        .about-us-card-img {
            width: 397px;
            height: 255px
        }

        .about-us-card {
            width: 397px;
        }

        #comment {
            width: 100%;
        }

        .name-mail {
            width: 383px;
        }

        .transmissions-card-div {
            gap: 29px;
        }

        #home {
            background-repeat: no-repeat;
            background-image: url(../imges/micraphone1024.svg);
            background-position: right;
        }

        .home-p {
            width: 539px;
        }

        .playlists-card {
            width: 255px;
            flex-direction: row;
        }

        .playlist-card-info {
            width: 100%;
        }

        .playlists-card img {
            width: 112px;
            height: 112px;
        }

        .playlist-card-list {
            width: 825px;
        }

        .playlist-card-list-div {
            display: block;

        }

        .playlist-caption-p {
            width: 100%;
            max-width: 100%;
            padding-bottom: 30px;
        }

        .inner {
            width: 396px;
        }

        .podcasts-card-text {
            width: 254px;
        }
    }

    @media(min-width:1024px) {
        .nav2 {
            display: none;
        }
    }